/*
 * Copyright 2018 Technexion Ltd.
 *
 * Author: Tapani Utriainen <tapani@technexion.com>
 *         Richard Hu <richard.hu@technexion.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 */

#include <tnmacro.h>
#include <dt-bindings/sound/fsl-imx-audmux.h>

/ {
	aliases {
		i2c0 = &AXON_I2C_A;
                i2c1 = &AXON_I2C_B;
                i2c2 = &AXON_I2C_C;
                i2c3 = &AXON_I2C_D;
                i2c4 = &AXON_I2C_BRD_CONF;
                uart0 = &AXON_UART_A;
                uart1 = &AXON_UART_B;
                uart3 = &AXON_UART_C;
                uart4 = &AXON_UART_BT;
        };

	gpio-axon {
		compatible = "gpio-edm";

    /* 40-pin expansion */

    gpio_x1_p19 {
			label = "gpio_x1_p19";
			gpios = <&AXON_EXT_GPIO_X1_P19 GPIO_ACTIVE_HIGH>;
			dir   = "out";
		};

    gpio_x1_p21 {
			label = "gpio_x1_p21";
			gpios = <&AXON_EXT_GPIO_X1_P21 GPIO_ACTIVE_HIGH>;
			dir   = "out";
		};

    gpio_x1_p72 {
			label = "gpio_x1_p72";
			gpios = <&AXON_EXT_GPIO_X1_P72 GPIO_ACTIVE_HIGH>;
			dir   = "out";
		};

    gpio_x1_p74 {
			label = "gpio_x1_p74";
			gpios = <&AXON_EXT_GPIO_X1_P74 GPIO_ACTIVE_HIGH>;
			dir   = "out";
		};

    gpio_x1_p76 {
			label = "gpio_x1_p76";
			gpios = <&AXON_EXT_GPIO_X1_P76 GPIO_ACTIVE_HIGH>;
			dir   = "out";
		};

    gpio_x1_p78 {
			label = "gpio_x1_p78";
			gpios = <&AXON_EXT_GPIO_X1_P78 GPIO_ACTIVE_HIGH>;
			dir   = "out";
		};

    gpio_x1_p80 {
			label = "gpio_x1_p80";
			gpios = <&AXON_EXT_GPIO_X1_P80 GPIO_ACTIVE_HIGH>;
			dir   = "out";
		};

    gpio_x2_p79 {
			label = "gpio_x2_p79";
			gpios = <&AXON_EXT_GPIO_X2_P79 GPIO_ACTIVE_HIGH>;
			dir   = "out";
		};

	};

	sound: sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "axon-pi-wm8960-audio";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&dailink_master>;
		simple-audio-card,frame-master = <&dailink_master>;
		simple-audio-card,widgets =
			"Microphone", "Mic Jack",
			"Speaker", "Speaker",
			"Headphone", "Headphone Jack";
		simple-audio-card,routing =
			"Headphone Jack", "HP_L",
			"Headphone Jack", "HP_R",
			"Speaker", "SPK_LP",
			"Speaker", "SPK_LN",
			"Speaker", "SPK_RP",
			"Speaker", "SPK_RN",
			"LINPUT2", "Mic Jack",
			"LINPUT3", "Mic Jack",
			"Mic Jack", "MICB";
		simple-audio-card,cpu {
			sound-dai = <&AXON_AUD_A_I2S_CHANNEL>;
		};

		dailink_master: simple-audio-card,codec {
			sound-dai = <&codec>;
			clocks = <&codec_osc>;
		};
	};

	/* User LED */
	user-led {
		compatible = "gpio-leds";
		led {
			label = "user-led";
			gpios = <&AXON_EXT_GPIO_X1_P70 GPIO_ACTIVE_HIGH>;
			dir   = "out";
		};
	};

	clocks {
		codec_osc: aud_mclk {  /* Note - on AXON pi rev 0.1 MCLK comes from external osc */
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <24000000>;
			clock-output-names = "wm8960-mclk";
		};
	};

	/* Turn off LCD interface as we do not support this on Axon-Pi */
	lcd@0 {
        	status = "disabled";
	};
};

&audmux {
	status = "okay";

	/* Source port */
	ssi1 {
		fsl,audmux-port = <0>;
		fsl,port-config = <
			(IMX_AUDMUX_V2_PTCR_TFSDIR |
			IMX_AUDMUX_V2_PTCR_TFSEL(2) |
			IMX_AUDMUX_V2_PTCR_TCLKDIR |
			IMX_AUDMUX_V2_PTCR_TCSEL(2) |
			IMX_AUDMUX_V2_PTCR_SYN)
			IMX_AUDMUX_V2_PDCR_RXDSEL(0)
		>;
	};

	/* External port */
	pins3 {
		fsl,audmux-port = <2>;
		fsl,port-config = <
			IMX_AUDMUX_V2_PTCR_SYN
			IMX_AUDMUX_V2_PDCR_RXDSEL(0)
                >;
	};
};

&iomuxc {
	pinctrl-0 = AXON_SOM_PINCTRL,
		<&pinctrl_gpio_x1_p19>, /* pinmuxed with UART_B_RTS, use only when UART_B is 2-wire */
		<&pinctrl_gpio_x1_p21>, /* pinmuxed with UART_B_CTS, use only when UART_B is 2-wire */
		<&pinctrl_gpio_x1_p66>,
		<&pinctrl_gpio_x1_p68>,
		<&pinctrl_gpio_x1_p70>,
		<&pinctrl_gpio_x1_p72>,
		<&pinctrl_gpio_x1_p74>,
		<&pinctrl_gpio_x1_p76>,
		<&pinctrl_gpio_x1_p78>,
		<&pinctrl_gpio_x1_p80>,
		<&pinctrl_gpio_x2_p18>,
		<&pinctrl_gpio_x2_p20>,
		<&pinctrl_gpio_x2_p22>,
		<&pinctrl_gpio_x2_p24>,
		<&pinctrl_gpio_x3_p71>;
};

&AXON_I2C_A {
	status = "okay";

	codec: wm8960@1a {
		compatible = "wlf,wm8960";
		reg = <0x1a>;
		#sound-dai-cells = <0>;
		clocks = <&codec_osc>;  /* Note:  AXON-PI the clock is external osc */
		clock-names = "mclk";
		wlf,shared-lrclk;
		wlf,fixed-mclk;
	};

	typec_tusb322:tusb320@47 {
		compatible = "ti,tusb320";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_x2_p32>;
		reg = <0x47>;
		vbus-supply = <&reg_usb_otg_vbus>;
		tusb320,int-gpio = <&AXON_EXT_GPIO_X2_P32 GPIO_ACTIVE_LOW>;
		tusb320,select-mode = <0>;
		tusb320,dfp-power = <0>;
	};

	rtc: ds1337 {
		compatible = "dallas,ds1337";
		reg = <0x68>;
	};
};

&AXON_I2C_B {
  status = "okay";
	ov5645_mipi: ov5645_mipi@3c {
		compatible = "ovti,ov5645_mipi";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_mipi_csi>;
		reg = <0x3c>;
		clocks = <&clks 200>;
		clock-names = "csi_mclk";
		DOVDD-supply = <&reg_2p5v>;
		AVDD-supply = <&reg_2p5v>;
		DVDD-supply = <&reg_1p8v>;
		pwn-gpios = <&AXON_EXT_GPIO_X3_P67 GPIO_ACTIVE_HIGH>;
		rst-gpios = <&AXON_EXT_GPIO_X3_P65 GPIO_ACTIVE_LOW>;
		ipu_id = <0>;
		csi_id = <0>;
		mclk = <24000000>;
		mclk_source = <0>;
	};
};

&AXON_I2C_C {
	status = "okay";
};

&AXON_I2C_D {
	status = "okay";
};

&AXON_I2C_BRD_CONF {
	status = "okay";

	eeprom_baseboard: eeprom@51 {
		compatible = "at,24c02";
		reg = <0x51>;
	};
};

&AXON_UART_B {
	status = "okay";
};

&AXON_UART_C {
	pinctrl-0 = <&pinctrl_axon_uart_c_rtscts>;
	fsl,uart-has-rtscts;
	status = "okay";
};

&AXON_CAN_A {
	status = "okay";
};

&AXON_CAN_B {
	status = "okay";
};

&AXON_SPI_A {
	status = "okay";

	spidev@1 {
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <60000000>;
		reg = <0>;
	};
};
