/*
 * Copyright 2016,2017,2018 Technexion Ltd.
 *
 * Author: Wig Cheng <wig.cheng@technexion.com>
 *         Richard Hu <richard.hu@technexion.com>
 *         Tapani Utriainen <tapani@technexion.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 */
/dts-v1/;

#include "imx6dl.dtsi"
#include "imx6qdl-axon.dtsi"
#include "baseboard_axon_pi.dtsi"
/ {
	model = "TechNexion AXON-IMX6 DualLite/Solo and PI baseboard";
	compatible = "fsl,axon-imx6dl", "fsl,imx6dl";

	aliases {
		i2c0 = &AXON_I2C_A;
		i2c1 = &AXON_I2C_B;
		i2c2 = &AXON_I2C_C;
		i2c3 = &AXON_I2C_D;
		i2c4 = &AXON_I2C_BRD_CONF;
	};

	sound-hdmi {
		status = "disabled";
	};

	backlight_lvds {
		status = "disabled";
	};
};

&ldb {
	status = "disabled";
};

&hdmi_audio {
	status = "okay";
};

&hdmi_core {
	status = "okay";
};

&hdmi_video {
	status = "okay";
};

&epdc {
	status = "disabled";
};

&pcie {
	status = "disabled";
};

/*
&i2c_gpio_brd_conf {
	eeprom_baseboard: eeprom@51 {
		compatible = "at,24c02";
		reg = <0x51>;
	};
};


&i2c1 {
	ov5645_mipi: ov5645_mipi@3c {
		compatible = "ovti,ov5645_mipi";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_mipi_csi>;
		reg = <0x3c>;
		clocks = <&clks 200>;
		clock-names = "csi_mclk";
		DOVDD-supply = <&reg_2p5v>;
		AVDD-supply = <&reg_2p5v>;
		DVDD-supply = <&reg_1p8v>;
		pwn-gpios = <&AXON_EXT_GPIO_X3_P67 GPIO_ACTIVE_HIGH>;
		rst-gpios = <&AXON_EXT_GPIO_X3_P65 GPIO_ACTIVE_LOW>;
		ipu_id = <0>;
		csi_id = <0>;
		mclk = <24000000>;
		mclk_source = <0>;
	};
};

*/

